<ion-content>
  <section class="modal-diferenciais">
    <div class="topo" ion-fixed>
      <ion-icon class="close" name="close" (click)="fechaModal()"></ion-icon>
      <h2 class="h-simples">
        Diferenciais
      </h2>
    </div>

    <ul>
      <li *ngFor="let diferencial of imovel.Diferenciais" (click)="toggleText($event)">
        <div class="item">
            <ion-img class="icone" src={{diferencial.Icone}}></ion-img> {{diferencial.Titulo}}
            <ion-icon class="seta" name="arrow-dropdown"></ion-icon>
        </div>
        <div class="txt-site">
          <p> 
            {{diferencial.Descricao}}
          </p>
        </div>
      </li>
    </ul>
  </section>
</ion-content>