<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="3">
                <ion-buttons class="nav-button">
                    <ion-menu-button class="icon-navbar"></ion-menu-button>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <img class="logoMRV" src="assets/imagens/logo-mrv.png" />
            </ion-col>
            <ion-col size="3">
                <a class="search" href="#" title="Busca">
                    <ion-img src="assets/icons/busca.svg" alt="imovel buritis"></ion-img>
                </a>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content></ion-content>